body{
    background-color: #acd4b4;
}
 
 
.body {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3e4b9;
    border-radius: 8px;
   
}
 
.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
 
 
.addtask {
    
    align-items: center;
    margin-bottom: 20px;
}

.searching{
    padding-bottom: 20px;
    text-align: center;
    
}
#searchbutton{
    background-color: grey;
    border-radius: 1px;
    size : 5px;
    
}
 
.taskadded{
    border-top: 1px solid grey;
}
#user_input {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
#add-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

 

#add-button:hover {
    background-color: #0056b3;
}


.field-container {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

 



button {
    padding: 6px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 20%;
    
}

.striker{
    text-decoration: line-through;
}
 

button:hover {
    background-color: #c82333;
}

select {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}